# Copyright 2015 VMware, Inc.  All rights reserved.
# SPDX-License-Identifier: MIT OR GPL-3.0-only
---
- name: create certs directory
  become: yes
  file:
    path={{ kube_cert_dir }}
    state=directory
    mode=o-rwx

- name: retrieve ca.pem
  slurp:
    src: "{{kubernetes_ca_depot}}/ca.pem"
  register: ca_pem
  run_once: true
  delegate_to: "{{ groups['ca'][0] }}"

- name: register ca.pem
  set_fact:
    kube_ca_pem: "{{ ca_pem.content|b64decode }}"

- name: place ca.pem
  become: yes
  copy: content="{{ kube_ca_pem }}" dest="{{ kube_cert_dir }}/ca.pem"

- name: retrieve apiserver.pem
  slurp:
    src: "{{kubernetes_ca_depot}}/apiserver-{{hostvars[groups['ca'][0]].openssl_cnf_sha1}}.pem"
  register: apiserver_pem
  run_once: true
  delegate_to: "{{ groups['ca'][0] }}"

- name: register apiserver.pem
  set_fact:
    kube_apiserver_pem: "{{ apiserver_pem.content|b64decode }}"

- name: place apiserver.pem
  become: yes
  copy: content="{{ kube_apiserver_pem }}" dest="{{ kube_cert_dir }}/apiserver.pem"

- name: retrieve apiserver-key.pem
  slurp:
    src: "{{kubernetes_ca_depot}}/apiserver-key.pem"
  register: apiserver_key_pem
  run_once: true
  delegate_to: "{{ groups['ca'][0] }}"

- name: register apiserver-key.pem
  set_fact:
    kube_apiserver_key_pem: "{{ apiserver_key_pem.content|b64decode }}"
- name: place apiserver-key.pem
  become: yes
  copy: content="{{ kube_apiserver_key_pem }}" dest="{{ kube_cert_dir }}/apiserver-key.pem"

- name: retrieve client-ca.pem
  slurp:
    src: "{{kubernetes_ca_depot}}/client-ca.pem"
  register: client_ca_pem
  run_once: true
  delegate_to: "{{ groups['ca'][0] }}"

- name: register client-ca.pem
  set_fact:
    kube_client_ca_pem: "{{ client_ca_pem.content|b64decode }}"

- name: place client-ca.pem
  become: yes
  copy: content="{{ kube_client_ca_pem }}" dest="{{ kube_cert_dir }}/client-ca.pem"

- name: retrieve client-key.pem
  slurp:
    src: "{{kubernetes_ca_depot}}/client-key.pem"
  register: client_key_pem
  run_once: true
  delegate_to: "{{ groups['ca'][0] }}"

- name: register client-key.pem
  set_fact:
    kube_client_key_pem: "{{ client_key_pem.content|b64decode }}"

- name: place client-key.pem
  become: yes
  copy: content="{{ kube_client_key_pem }}" dest="{{ kube_cert_dir }}/client-key.pem"

- name: retrieve client.pem
  slurp:
    src: "{{kubernetes_ca_depot}}/client.pem"
  register: client_pem
  run_once: true
  delegate_to: "{{ groups['ca'][0] }}"

- name: register client.pem
  set_fact:
    kube_client_pem: "{{ client_pem.content|b64decode }}"

- name: place client.pem
  become: yes
  copy: content="{{ kube_client_pem }}" dest="{{ kube_cert_dir }}/client.pem"

- name: install kubeconfig
  become: yes
  template: src=apiserver-kubeconfig.yaml dest={{kube_config_dir}}/apiserver-kubeconfig.yaml
  notify: restart kubelet

- name: create kube audit config dir
  become: yes
  file: path={{kube_audit_config_dir}} state=directory

- name: copy kube audit policy file
  become: yes
  template: src=audit-policy.yaml dest={{kube_audit_policy_file}}
  when: kube_enable_audit_logs

- name: create manifests directory
  become: yes
  file:
    path={{ kube_manifests_dir }}
    state=directory

- name: Copy cloud-config
  become: yes
  copy: src=cloud-config dest={{kube_cloud_config_path}} mode=0755
  when: kube_enable_cloud_provider == True

- name: create auth dir
  become: yes
  file: path={{kube_auth_dir}} state=directory

- name: create token file
  become: yes
  template: src=tokens.csv dest={{kube_token_auth_file}}

- name: create policies file
  become: yes
  template: src=policies.jsonl dest={{kube_policies_auth_file}}

- name: install apiserver pod
  become: yes
  template: src=kube-apiserver.yaml dest={{kube_manifests_dir}}/kube-apiserver.yaml

- name: install proxy pod
  become: yes
  template: src=kube-proxy.yaml dest={{kube_manifests_dir}}/kube-proxy.yaml

- name: install controller-manager pod
  become: yes
  template: src=kube-controller-manager.yaml dest={{kube_manifests_dir}}/kube-controller-manager.yaml

- name: ensures kube scheduler policy config dir exists
  become: yes
  file: path={{kube_scheduler_policy_config_dir}} state=directory mode=0755
  when:
    - kube_scheduler_policy_config_dir != ""

- name: create scheduler config policy file
  become: yes
  template: src={{kube_scheduler_policy_config_file_src}} dest={{kube_scheduler_policy_config_dir}}/{{kube_scheduler_policy_config_file_name}}
  when:
    - kube_scheduler_policy_config_dir != ""
    - kube_scheduler_policy_config_file_name != ""
    - kube_scheduler_policy_config_file_src != ""

- name: install scheduler pod
  become: yes
  template: src=kube-scheduler.yaml dest={{kube_manifests_dir}}/kube-scheduler.yaml

- name: wait for apiserver to be up
  command: curl -i --silent http://localhost:8080
  register: result
  until: result.stdout.find("200 OK") != -1
  retries: 100
  delay: 10
  changed_when: false

- name: create kube-system namespace
  command: >-
    curl -XPOST -H 'Content-Type: application/json' -d'{"apiVersion":"v1","kind":"Namespace","metadata":{"name":"kube-system"}}' "http://127.0.0.1:8080/api/v1/namespaces"
  changed_when: false
